# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [4]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [5]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
print(black_friday.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     537577 non-null  int64
 1   Product_ID                  537577 non-null  object
 2   Gender                      537577 non-null  object
 3   Age                         537577 non-null  object
 4   Occupation                  537577 non-null  int64
 5   City_Category               537577 non-null  object
 6   Stay_In_Current_City_Years  537577 non-null  object
 7   Marital_Status              537577 non-null  int64
 8   Product_Category_1          537577 non-null  int64
 9   Product_Category_2          370591 non-null  float64
 10  Product_Category_3          164278 non-null  float64
 11  Purchase                    537577 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB
None

In [6]:
black_friday.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.375770e+05,537577.00000,537577.000000,537577.000000,370591.000000,164278.000000,537577.000000
mean,1.002992e+06,8.08271,0.408797,5.295546,9.842144,12.669840,9333.859853
std,1.714393e+03,6.52412,0.491612,3.750701,5.087259,4.124341,4981.022133
min,1.000001e+06,0.00000,0.000000,1.000000,2.000000,3.000000,185.000000
25%,1.001495e+06,2.00000,0.000000,1.000000,5.000000,9.000000,5866.000000
50%,1.003031e+06,7.00000,0.000000,5.000000,9.000000,14.000000,8062.000000
75%,1.004417e+06,14.00000,1.000000,8.000000,15.000000,16.000000,12073.000000
max,1.006040e+06,20.00000,1.000000,18.000000,18.000000,18.000000,23961.000000

Checados os valores das variáveis numéricas, podemos reduzir a memória ocupada convertendo os dtypes.

In [6]:
from numpy import int32, float32

black_friday = black_friday.astype({
    "User_ID": int32,
    "Occupation": int32,
    "Marital_Status": int32,
    "Product_Category_1": int32,
    "Product_Category_2": float32,
    "Product_Category_3": float32,
    "Purchase": int32
    })

In [7]:
black_friday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     537577 non-null  int32
 1   Product_ID                  537577 non-null  object
 2   Gender                      537577 non-null  object
 3   Age                         537577 non-null  object
 4   Occupation                  537577 non-null  int32
 5   City_Category               537577 non-null  object
 6   Stay_In_Current_City_Years  537577 non-null  object
 7   Marital_Status              537577 non-null  int32
 8   Product_Category_1          537577 non-null  int32
 9   Product_Category_2          370591 non-null  float32
 10  Product_Category_3          164278 non-null  float32
 11  Purchase                    537577 non-null  int32
dtypes: float32(2), int32(5), object(5)
memory usage: 34.9+ MB

Houve uma redução de \~15 MB (\~29%) de uso de memória.

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [7]:
def q1():
    return black_friday.shape
#visualização do retorno
q1()

(537577, 12)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [8]:
# quais são as idades das mulheres disponiveis no dataset?
black_friday[black_friday['Gender'] == 'F']['Age'].unique()

array(['0-17', '51-55', '36-45', '26-35', '18-25', '46-50', '55+'],
      dtype=object)

In [9]:
black_friday_woman = black_friday[black_friday['Gender'] == 'F']
black_friday_woman_anos_26_35 = black_friday_woman[black_friday_woman['Age'] =='26-35']

In [10]:
def q2():
    return black_friday[(black_friday['Age'] == '26-35')
                        & (black_friday['Gender'] == 'F')].shape[0]

q2()

49348

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.
#pandas.DataFrame.nunique

In [11]:
def q3():
    return black_friday['User_ID'].nunique()

q3()

5891

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.
pandas.DataFrame.dtypes
pandas.DataFrame.nunique

In [12]:
print(black_friday.dtypes)

User_ID                         int32
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int32
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int32
Product_Category_1              int32
Product_Category_2            float32
Product_Category_3            float32
Purchase                        int32
dtype: object

In [11]:
def q4():
    return black_friday.dtypes.nunique()

q4()

3

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [12]:
def q5():
    return 1 - black_friday.dropna().shape[0]/black_friday.shape[0]

q5()

0.6944102891306734

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [13]:
print(black_friday.isna().sum().max())

373299

In [14]:
def q6():
    return int(black_friday.isna().sum().max())

q6()

373299

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [15]:
def q7():
    # mode() exclui null por padrão. Explicitei para clareza.
    return float(black_friday['Product_Category_3'].mode())

q7()

16.0

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [16]:
purchases = black_friday['Purchase'].copy()

In [19]:
def q8():
    norm_max = purchases.max()
    norm_min = purchases.min()
    
    norm_purchase = (purchases - norm_min) \
                     / (norm_max - norm_min)
    
    return float(norm_purchase.mean())

q8()

0.38479390362696736

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [20]:
def q9():
    std_purchase = (purchases - purchases.mean()) \
                    / purchases.std()
    return int(std_purchase[(-1 <= std_purchase) & (std_purchase <= 1)].shape[0])

q9()

348631

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [21]:
def q10():
      # basta comparar as duas séries de nan
    return black_friday['Product_Category_2'].isna().equals(black_friday['Product_Category_2'].isna())
    
# visualização do retorno
q10()

True